In [2]:
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objects as go

raw_data = pd.read_csv('advertising.csv')
raw_data

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3   12.0
3    151.5   41.3       58.5   16.5
4    180.8   10.8       58.4   17.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1   14.0
197  177.0    9.3        6.4   14.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   18.4

[200 rows x 4 columns]

In [4]:
df = raw_data.copy()
df

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3   12.0
3    151.5   41.3       58.5   16.5
4    180.8   10.8       58.4   17.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1   14.0
197  177.0    9.3        6.4   14.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   18.4

[200 rows x 4 columns]

In [5]:
df.describe()

               TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   15.130500
std     85.854236   14.846809   21.778621    5.283892
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   11.000000
50%    149.750000   22.900000   25.750000   16.000000
75%    218.825000   36.525000   45.100000   19.050000
max    296.400000   49.600000  114.000000   27.000000

In [20]:
X = df[['TV', 'Radio','Newspaper']]
y = df['Sales']

In [23]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

scaler.fit(X)

StandardScaler()

In [27]:
X_scaled = scaler.transform(X)

In [28]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

# Split the scaled dataset and target variable into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

# Instantiate the linear regression model
model = LinearRegression()

# Fit the model to the training data
model.fit(X_train, y_train)

# Make predictions on the testing data
y_pred = model.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("Mean Squared Error:", mse)
print("R-Squared:", r2)

Mean Squared Error: 2.9077569102710936
R-Squared: 0.9059011844150825

In [29]:
X = df[['TV', 'Radio','Newspaper']]
y = df['Sales']

In [32]:
#Splitting Datasets
Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, test_size=0.2, random_state=42)

#Instantiate Linear Regression
model=LinearRegression()

#Fit with Training data
model.fit(Xtrain, ytrain)

#Make Predictions on testing data
y_pred=model.predict(Xtest)

#Model Evaluation
mse = mean_squared_error(ytest, y_pred)
r2 = r2_score(ytest, y_pred)

print('Mean Squared Error', mse)
print('R-Squared', r2)

Mean Squared Error 2.907756910271091
R-Squared 0.9059011844150826

In [34]:
# Get the regression coefficients
coefficients = model.coef_

# Create a DataFrame to display the coefficients
coef_df = pd.DataFrame(coefficients, index=['TV', 'Radio', 'Newspaper'], columns=['Coefficient'])

print(coef_df)

           Coefficient
TV            0.054509
Radio         0.100945
Newspaper     0.004337